/* Resetting default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styling */
body,
button,
input {
  font-family: "Poppins", sans-serif;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

/* Main styling */
body {
  background-color: #f4f4f4;
}

#todo {
  max-width: 650px;
  width: 90%;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 36px auto;
  border-radius: 5px;
}

.todo-title {
  text-align: center;
  padding: 20px 0;
}

.todo-input-container {
  display: flex;
  gap: 8px;
}

.todo-input-container .todo-input {
  flex: 3;
  width: 100%;
  border: 3px solid #d3ead3;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
}

.todo-input-container .todo-add-btn {
  flex: 1;
  border: 3px solid #d3ead3;
  background-color: #ee6c4d;
  border-radius: 6px;
  font-size: 1.5rem;
}

.todo-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.todo-container .todo-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-container .todo-text {
  flex: 1;
  font-weight: 300;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.todo-container .remove-btn {
  padding: 8px 26px;
  border: none;
  border-radius: 5px;
  background-color: #ee6c4d;
  color: #fff;
  transition: 200ms;
}

.todo-container .remove-btn:hover {
  border-radius: 16px;
}
