/* NOTE make it responsive and fixed searach vbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body,
button,
input{
    font-family: "Poppins", sans-serif;
}

#todo{
    width: min(90%,650px);
    margin: auto;
}

.todo-title{
    text-align: center;
    padding: 20px 0;
}

.todo-input-container{
    display: flex;
    gap: 8px;
    position: sticky;
}

.todo-input-container .todo-input {
    flex: 3;
    border: 3px solid #d3ead3;
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 6px;
}

.todo-input-container .todo-add-btn {
    flex: 1;
    border: 3px solid #d3ead3;
    background-color: #ee6c4d;
    border-radius: 6px;
    cursor: pointer;
}

.todo-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.todo-container .todo-item {
    display: flex;
}

.todo-container .todo-text {
    flex: 1;
    font-weight: 300;
}

.todo-container .todo-action-btns {
    display: flex;
    gap: 8px;
}

.todo-container .todo-done-btn,
.todo-container .todo-remove-btn {
    padding: 6px 12px;
    border: 3px solid #d3ead3;
    background-color: #ee6c4d;
    border-radius: 6px;
    cursor: pointer;
}